@{
    ViewData["Title"] = "OrderStatus";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

    <div class="form-container">
        <h2>thank you for your order</h2>
        <a asp-controller="Home" asp-action="Index"class="btn btn-default">return</a>
        <a asp-controller="Orders" asp-action="UserOrders" class="btn btn-default">my orders</a>
    </div>


