@model TshirtCo_NN.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-5">
                <h5>&nbsp;</h5>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>colour</label>
                    <select asp-for="ColourId" class="form-control" asp-items="(SelectList)ViewBag.ColourId"></select>
                </div>
            </div>
            <div class="col-md-5">
                <h5>enter stock</h5>
                <div class="form-group">
                    <label asp-for="Small" class="control-label"></label>
                    <input asp-for="Small" class="form-control" />
                    <span asp-validation-for="Small" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Medium" class="control-label"></label>
                    <input asp-for="Medium" class="form-control" />
                    <span asp-validation-for="Medium" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Large" class="control-label"></label>
                    <input asp-for="Large" class="form-control" />
                    <span asp-validation-for="Large" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="XLarge" class="control-label"></label>
                    <input asp-for="XLarge" class="form-control" />
                    <span asp-validation-for="XLarge" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input type="file" name="file" class="form-control" height="15px" />
                </div>
                <div class="form-group">
                    <label>category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="(SelectList)ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" /> <a asp-action="Index"> Back to List</a>
                </div>
            </div>

        </form>
    </div>
</div>

