@model TshirtCo_NN.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-5">
                <input type="hidden" asp-for="ProductId" />
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>colour</label>
                    <select asp-for="ColourId" class="form-control" asp-items="(SelectList)ViewBag.ColourId"></select>
                    <input type="hidden" asp-for="Colour" class="form-control"/>
                </div>
                <div class="form-group">
                    <img src="@Model.Image" width="150px" />
                    <input type="hidden" asp-for="Image" class="form-control"/>
                </div>
            </div>
            <div class="col-md-5">
            <h5>enter stock</h5>
            <div class="form-group">
                <label asp-for="Small" class="control-label"></label>
                <input asp-for="Small" class="form-control" />
                <span asp-validation-for="Small" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medium" class="control-label"></label>
                <input asp-for="Medium" class="form-control" />
                <span asp-validation-for="Medium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Large" class="control-label"></label>
                <input asp-for="Large" class="form-control" />
                <span asp-validation-for="Large" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XLarge" class="control-label"></label>
                <input asp-for="XLarge" class="form-control" />
                <span asp-validation-for="XLarge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="(SelectList)ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

