@model TshirtCo_NN.Models.Design

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>Design</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DesignName" class="control-label"></label>
                <input asp-for="DesignName" class="form-control" />
                <span asp-validation-for="DesignName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GarmentColourForPrint" class="control-label"></label>
                <select asp-for="GarmentColourForPrint" class="form-control" asp-items="(SelectList)ViewBag.ColourId"></select>
                <span asp-validation-for="GarmentColourForPrint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

