@model ContactForm
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="form-container">
    <form asp-controller="Home" asp-action="Index" method="post">
        <div class="product-text">
            <label asp-for="Name">Please enter your name:</label>
            <input type="text" asp-for="Name" />
        </div>
        <div class="product-text">
            <label asp-for="Email">Please enter your email:</label>
            <input type="email" asp-for="Email" />
        </div>
        <div class="product-text">
            <label asp-for="Message">Add a message:</label>
            <textarea asp-for="Message"></textarea>
        </div>
    </form> 
</div>