@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

@*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
<div class="right-content-container">
<div class="row">
    <form id="profile-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-10">
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group">
                            <input asp-for="Input.Email" class="form-control" />
                            <span class="input-group-addon" aria-hidden="true">
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            </span>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Input.Email" class="form-control" />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    }
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="col-md-10">
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Input.AddressLn1"></label>
                    <input asp-for="Input.AddressLn1" class="form-control" />
                    <span asp-validation-for="Input.AddressLn1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.City"></label>
                    <input asp-for="Input.City" class="form-control" />
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="Input.AddressLn2"></label>
                    <input asp-for="Input.AddressLn2" class="form-control" />
                    <span asp-validation-for="Input.AddressLn2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PostCode"></label>
                    <input asp-for="Input.PostCode" class="form-control" />
                    <span asp-validation-for="Input.PostCode" class="text-danger"></span>
                </div>
                <hr/>
                <div class="form-group">
                    <a asp-controller="Orders" asp-action="UserOrders" class="btn btn-default">view orders</a>
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-10">
        <div class="col-md-5"></div>
        <div class="col-md-5">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post" id="logoutForm">
                <button type="submit" class="btn btn-default">logout</button>
            </form>
        </div>

    </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
